<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChipboxKanalYedek.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <ChipboxKanalYedek.Properties.Settings>
            <setting name="txtIP" serializeAs="String">
                <value>192.168.2.171</value>
            </setting>
            <setting name="txtKullanici" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="txtSifre" serializeAs="String">
                <value>chipbox</value>
            </setting>
        </ChipboxKanalYedek.Properties.Settings>
    </userSettings>
</configuration>
